*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  font-size: 1.6rem;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

header {
  width: 100%;
  height: 5rem auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-list {
  width: 25rem;
  height: 100vh;
  background-color: #d7d4ed;
  position: fixed;
  top: 0;
  right: -26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1500;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.nav-brand {
  width: 2rem;
}

.menu-icons i {
  font-size: 3.5rem;
  color: #fafafa;
  cursor: pointer;
}

.close i {
  color: #eb648c;
}

.close {
  position: absolute;
  top: 1rem;
  left: 1.5rem;
}

.nav-link {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
}

.container {
  width: 90%;
  max-width: 98rem;
  margin: 0 auto;
}

.nav-list.active {
  right: 0;
}

.nav-item {
  margin: 1.5rem 0;
}

.hero {
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("../images/background.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.hero::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 4.7rem;
  background: url("../images/wave-small.png") center no-repeat;
  background-size: cover;
}

.main-message {
  width: 100%;
  max-width: 50rem;
  color: #fafafa;
  text-transform: uppercase;
  -webkit-transform: translate(20%);
          transform: translate(20%);
}

.main-message h3 {
  font-size: 1.6rem;
  position: relative;
  top: 1rem;
}

.main-message h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 4rem;
  margin: 1rem 0;
}

.main-message p {
  text-transform: lowercase;
}

.btn {
  border-radius: 2rem;
  background-color: #eb648c;
  color: #fafafa;
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  -webkit-transition: background-color 650ms;
  transition: background-color 650ms;
}

.btn:hover {
  background-color: #ce587b;
}

.experience-outdoors {
  padding: 0;
}

.experience-outdoors .activities-grid-item {
  height: 40rem;
  padding: 5rem;
  color: #fafafa;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  z-index: -1;
}

.experience-outdoors .star-gazing {
  background: url("../images/stars.jpg") center no-repeat;
}

.experience-outdoors .hiking {
  background: url("../images/hiking.jpg") center no-repeat;
}

.experience-outdoors .camping {
  background: url("../images/camping.jpg") center no-repeat;
}

.experience-outdoors i {
  font-size: 4rem;
  color: #b6488c;
}

.experience-outdoors h1 {
  font-size: 1.7rem;
  text-transform: uppercase;
  margin: 2rem 0;
}

.title-heading {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10rem;
  color: rgba(0, 0, 0, 0.7);
}

.title-heading h3 {
  font-size: 1.4rem;
}

.title-heading h1 {
  font-family: 'Aldrich', sans-serif;
  font-size: 2rem;
  margin: 0.5rem 0 1rem;
}

.title-heading p {
  text-transform: lowercase;
}

.activities-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
}

.activities-grid-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%);
  z-index: -1;
}

.testimonials {
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url("../images/testimonials-bg.jpg") center no-repeat fixed;
  background-size: cover;
  position: relative;
}

.testimonials::before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 100%;
  height: 4.7rem;
  background: url("../images/wave-small-reversed.png") center no-repeat;
  background-size: cover;
}

.testimonial {
  width: 100%;
  color: #fafafa;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.testimonial-text-box {
  padding: 0 1.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.testimonial-text-box i {
  position: absolute;
  top: -8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 8rem;
  color: #eb648c;
  opacity: .5;
  z-index: -1;
}

.testimonial-customer img {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  border: 3px solid #eb648c;
}

.adventure-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  margin-bottom: 2rem;
}

.adventure-grid-item p {
  color: rgba(0, 0, 0, 0.7);
}

footer {
  padding: 2.2rem;
  background-color: #d7d4e4;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

footer p {
  font-size: 1.3rem;
}

@media screen and (min-width: 350px) {
  .main-message {
    -webkit-transform: translateY(40%);
            transform: translateY(40%);
  }
}

@media screen and (min-width: 470px) {
  .hero::before {
    height: 9.4rem;
    background: url("../images/wave-medium.png");
    background-size: cover;
  }
  .testimonials::before {
    height: 9.4rem;
    background: url("../images/wave-medium-reversed.png");
    background-size: cover;
  }
}

@media screen and (min-width: 700px) {
  header {
    height: 8rem;
  }
  .nav-brand {
    width: 3.5rem;
  }
  .nav-list {
    width: initial;
    height: initial;
    background-color: transparent;
    position: initial;
    top: initial;
    right: initial;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-transition: initial;
    transition: initial;
  }
  .menu-icons {
    display: none;
  }
  .nav-item {
    margin: 0 2.5rem;
  }
  .nav-link, .current {
    color: #fafafa;
    position: relative;
    font-size: 1.3rem;
  }
  .nav-link::before,
  .current::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -.5rem;
    background-color: #eb648c;
    width: 100%;
    height: 2px;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transition: -webkit-transform 650ms;
    transition: -webkit-transform 650ms;
    transition: transform 650ms;
    transition: transform 650ms, -webkit-transform 650ms;
  }
  .current::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .nav-link:hover::before {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  .hero {
    height: 60vh;
  }
  .main-message {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .title-heading h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 950px) {
  .hero::before {
    height: 22.7rem;
    background: url("../images/wave-large.png");
    background-size: cover;
  }
  .testimonials::before {
    height: 22.7rem;
    background: url("../images/wave-large-reversed.png");
    background-size: cover;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 75vh;
  }
}
/*# sourceMappingURL=main.css.map */